<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bunny.project.aromacafecashier.common">

    <application>
        <provider
            android:name=".provider.AccsProvider"
            android:authorities="bunny.project.aromacafecashier" />
    </application>
</manifest>
